body {
  padding: 0;
  margin: 0;
}

#map, #svg-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#svg-layer {
  background: transparent;
  pointer-events: none;
}